<section id="about">
  <div class="container flex-v">
    <div class="desc">
      <div class="emoji-about">
        👨🏻‍💻
      </div>
      <h1>{{ i18n "about.desc" }}</h1>
      <h2>{{ i18n "about.desc-2" }}</h4>
    </div> 
    <div class="actions-container">
      <div>
        <i class="fa-brands fa-square-github"></i>
      </div>
      <div>
        <i class="fa-brands fa-linkedin"></i> 
      </div>
      <div>
        <i class="fa-solid fa-envelope"></i> 
      </div>
    </div>

    {{ partial "about/skills" . }}

  </div>
</section>
