{{ define "main" }}
  {{ partial "about/about" .}}
  <section id="projects">
    <div class="container flex-v">

      <h1>{{ i18n "projects.section" . }}</h1>

      <div class="projects-wrapper">
        {{ range .Pages }} 
          <div class="projects-single">
            <h2>{{ .Title }}</h2> 
            <p>{{ truncate 50 .Content }}</p>
            <a href="{{ .Permalink }}">{{ i18n "projects.expand" .}}</a>
          </div>
        {{ end }}
      </div>

    </div> 
  </section>
{{ end }}
