{{ define "main" }}
  {{ partial "about/about" .}}
  <section id="projects">
    <div class="container flex-v">

      <h1 class="title">🏗️ {{ i18n "menu.projects" . }} 📦</h1>

      <div class="projects-wrapper">
        {{ range .Site.RegularPages }} 
          <div class="projects-single">
            <h2>{{ .Title }}</h2> 
            <p>{{ truncate 50 .Content }}</p>
            <a href="{{ .Permalink }}">{{ i18n "projects.expand" .}}</a>
          </div>
        {{ end }}
      </div>

    </div> 
  </section>
  {{ partial "contact/contact" .}}
{{ end }}
